<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.atm.persistence.ATMRepository">

    <sql id="selectWhat">
        <!-- id -->
        atms.id AS atm_id,
        <!-- location -->
        atms.location AS atm_location,
        <!-- status -->
        atms.status AS atm_status,
        <!-- banknotes -->
        number_series.series AS individual_banknote_series,
        <include refid="com.solvd.atm.persistence.BanknoteTypeRepository.selectWhat"/>,
        <!-- transactions -->
        <include refid="com.solvd.atm.persistence.TransactionRepository.selectWhat"/>
    </sql>

    <sql id="fromWhere">
        atms
        <include refid="joinNecessary"/>
    </sql>

    <sql id="joinNecessary">
        LEFT JOIN atms_have_banknote_types ahbt ON ahbt.atm_id = atms.id
        LEFT JOIN banknote_types ON banknote_types.id = ahbt.banknote_type_id
        <include refid="com.solvd.atm.persistence.BanknoteTypeRepository.joinNecessary"/>
        LEFT JOIN number_series ON number_series.series <![CDATA[ <= ]]> ahbt.quantity
        LEFT JOIN transactions ON transactions.atm_id = atms.id
        <include refid="com.solvd.atm.persistence.TransactionRepository.joinNecessary"/>
    </sql>

    <sql id="withRecursive">
        WITH RECURSIVE number_series AS (
            SELECT 1 AS series
                UNION ALL
            SELECT series + 1
            FROM number_series
            WHERE series <![CDATA[ < ]]> (SELECT MAX(quantity) FROM atms_have_banknote_types)
        )
    </sql>

    <!-- ////////////////////////////////////////////////////////////////////////////////////////// -->

    <insert id="create" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO atms (location, status)
        VALUES (#{location}, #{status})
    </insert>

    <select id="getAll" resultMap="ATMResultMap">
        <include refid="withRecursive"/>
        SELECT
        <include refid="selectWhat"/>
        FROM
        <include refid="fromWhere"/>
    </select>

    <select id="getById" resultMap="ATMResultMap">
        <include refid="withRecursive"/>
        SELECT
        <include refid="selectWhat"/>
        FROM
        <include refid="fromWhere"/>
        WHERE atms.id = #{id}
    </select>

    <update id="updateStatus">
        UPDATE atms
        SET status = #{newStatus}
        WHERE id = #{atmId}
    </update>

    <insert id="insertBanknotes">
        INSERT INTO atms_have_banknote_types (atm_id, banknote_type_id, quantity)
        VALUES (#{atmId}, #{banknoteTypeId}, #{quantity})
    </insert>

    <update id="updateBanknotes">
        UPDATE atms_have_banknote_types
        SET quantity = #{quantity}
        WHERE atm_id = #{atmId} AND banknote_type_id = #{banknoteTypeId}
    </update>

    <!-- ////////////////////////////////////////////////////////////////////////////////////////// -->

    <resultMap id="IndividualBanknoteResultMap" type="com.solvd.atm.domain.ATMElements.IndividualBanknote" autoMapping="false">
        <id property="series" column="individual_banknote_series"/>
        <id property="banknoteType.id" column="banknote_type_id"/>
        <association property="banknoteType"
                     resultMap="com.solvd.atm.persistence.BanknoteTypeRepository.BanknoteTypeResultMap"/>
    </resultMap>

    <resultMap id="ATMResultMap" type="com.solvd.atm.domain.ATMElements.ATM" autoMapping="false">
        <id property="id" column="atm_id"/>
        <result property="location" column="atm_location"/>
        <result property="status" column="atm_status" javaType="com.solvd.atm.domain.ATMElements.Status"
                typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
        <collection property="banknotes"
                    ofType="com.solvd.atm.domain.ATMElements.IndividualBanknote"
                    resultMap="IndividualBanknoteResultMap"/>
        <collection property="transactions"
                    ofType="com.solvd.atm.domain.AccountResources.Transaction"
                    resultMap="com.solvd.atm.persistence.TransactionRepository.TransactionResultMap"/>
    </resultMap>

</mapper>